<html>
<header>
    <link rel="stylesheet" href="css/output.css">
</header>
<body>
<div class="w-screen h-screen flex items-center justify-center p-20 bg-gray-700">
    <%- body %>
</div>
</body>
</html>
